// _base.scss

$height: (
	'Hero-height':	60vh
);
$margin: (
	'content': (
		'top':		2rem,
		'right':	0rem,
		'bottom':	0rem,
		'left':		0rem
	)
);
$padding: (
	'content': (
		'top':		1rem,
		'right':	4rem,
		'bottom':	3rem,
		'left':		4rem
	),
	'wrapper': (
		'top':		0rem,
		'right':	0rem,
		'bottom':	2rem,
		'left':		0rem
	)
);

html {
	height: 100%;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}
* {box-sizing: border-box;}

body {
	background-color: Color('sky');
	display: flex;
	flex-direction: column;
	margin: 0;
	position: relative;
	min-width: 360px;
}
code {
	background-color: Color('sky');
	border-radius: .1em;
	color: Color('ink', 'light');
	padding: 0 .2em;
}
p {
	max-width: 50rem;
}
textarea {
	border-color: Color('main', 'light');
	border-radius: .3em;
	color: Color('ink', 'lightest');
	padding: .6em;
	width: 100%;
}
// Sets TAB width
textarea, pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

#AsciiTable {
	border-collapse: collapse;
	td:last-child {
		min-width: 12rem;
	}
	td:first-child {
		min-width: 12rem;
		padding-left: .2rem;
	}
	th {
		min-width: 6rem;
	}
	tr:hover {
		background-color: Color('sky', 'light');
	}
}
#wrapper {
	padding: Array($padding, 'wrapper', 'top') Array($padding, 'wrapper', 'right') Array($padding, 'wrapper', 'bottom') Array($padding, 'wrapper', 'left');
	.content {
		background-color: Color('white');
		margin: Array($margin, 'content', 'top') Array($margin, 'content', 'right') Array($margin, 'content', 'bottom') Array($margin, 'content', 'left');
		padding: Array($padding, 'content', 'top') Array($padding, 'content', 'right') Array($padding, 'content', 'bottom') Array($padding, 'content', 'left');
	}
}
#Hero-home {
	background-color: Color('ink');
	color: Color('white');
	img {
		width: 100%;
	}
}
@include ViewPort('md') {
	#wrapper {
		.content {
			padding: 1em 4em;
		}
	}
}
@include ViewPort('sm') {
	#wrapper {
		.content {
			padding: 1em 3em;
		}
	}
}
@include ViewPort('xs') {
	#wrapper {
		padding: 0;
		.content {
			padding: .8em 2em 2em;
		}
	}
}