// _base.scss

$padding: (
	'content': (
		'top':		1em,
		'right':	4em,
		'bottom':	3em,
		'left':		4em
	)
);

$padding_content:	1em 4em 3em 4em;
$padding_wrapper:	2em 0;

html {
	height: 100%;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}
* {box-sizing: border-box;}

body {
	background-color: Color('sky');
	display: flex;
	flex-direction: column;
	margin: 0;
	position: relative;
	min-width: 360px;
}
code {
	background-color: Color('sky');
	border-radius: .1em;
	color: Color('ink', 'light');
	padding: 0 .2em;
}
p {
	max-width: 50rem;
}
textarea {
	border-color: Color('main', 'light');
	border-radius: .3em;
	color: Color('ink', 'lightest');
	padding: .6em;
	width: 100%;
}
// Sets TAB width
textarea, pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

#AsciiTable {
	border-collapse: collapse;
	td:last-child {
		min-width: 12em;
	}
	td:first-child {
		min-width: 12em;
		padding-left: .2em;
	}
	th {
		min-width: 6em;
	}
	tr:hover {
		background-color: Color('sky', 'light');
	}
}

#wrapper {
	padding: $padding_wrapper;
	.content {
		background-color: Color('white');
		padding: Array($padding, 'content', 'top') Array($padding, 'content', 'right') Array($padding, 'content', 'bottom') Array($padding, 'content', 'left');
	}
}
@include ViewPort('md') {
	#wrapper {
		.content {
			padding: 1em 4em;
		}
	}
}
@include ViewPort('sm') {
	#wrapper {
		.content {
			padding: 1em 3em;
		}
	}
}
@include ViewPort('xs') {
	#wrapper {
		padding: 0;
		.content {
			padding: .8em 2em 2em;
		}
	}
}