// _header.scss

$font-size_nav-links: 1.2rem;
$height_header: 4rem;
$padding_nav-links: ($height_header - $font-size_nav-links) / 2;

header {
	background-color: Color('main');
	color: white;
}
nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: $height_header;
	a {
		color: inherit;
	}
}
#Logo {
	font-size: 1.8rem;
	font-weight: 500;
	&:hover {
		color: Color('sky');
	}
}
.nav-links {
	display: flex;
	list-style: none;
	margin: 0;
}
.nav-links a {
	display: inline-block;
	font-size: $font-size_nav-links;
	line-height: 1;
	padding: $padding_nav-links 1rem;
	&:hover {
		background-color: Color('main', 'dark');
	}
}
.nav-sub-menu {
	background-color: Color('main');
	color: Color('white');
	display: none;
	list-style: none;
	padding: 0;
	position: absolute;
	top: $height_header;
	&:hover {
		color: inherit;
	}
	a {
		font-size: 1.1rem;
		padding: 1rem;
	}
}
#nav-link-js:hover {
	.nav-sub-menu {
		display: block;
	}
}
#HamBrgBtn {
	background-color: Color('main');
	border-color: Color('white');
	border-style: solid;
	border-radius: .2rem;
	color: Color('white');
	cursor: pointer;
	display: none;
	height: 2rem;
	margin-right: 1rem;
	width: 2rem;
}
#HamBrgMenu {
	background-color: Color('main');
	display: none;
	left: 40%;
	padding: 0rem 2rem;
	position: absolute;
	top: $height_header;
	width: 60%;
	* {
		color: Color('white');
		font-size: $font-size_nav-links;
	}
}
.show {
	display: block !important;
}
@include ViewPort('xs') {
	#Logo {
		margin-left: 1rem;
	}
	.nav-links a {
		display: none;
	}
	#HamBrgBtn {
		display: block;
	}
}