// _header.scss

$font-size_header:	1.4em;

$header_btn_padding: $font-size_header * .6;

header {
	background-color: Color('main');
	overflow: hidden;
	a {
		color: white;
		display: block;
		font-size: $font-size_header;
		padding: $header_btn_padding 1vw;
		text-align: center;
	}
	a:hover {
		background-color: Color('main', 'dark');
	}
	a.btn {
		float: right;
	}
	a#Logo {
		float: left;
		font-size: $font-size_header;
		margin-left: -1vw;
	}
}
@include ViewPort('xs') {
	header {
		a {
			display: none;
		}
		a#Logo {
			display: block;
			margin-left: 1vw;
		}
	}
}