header {
  background-color: #43467F;
  overflow: hidden;
}

header a {
  color: white;
  display: block;
  text-align: center;
}

header a.btn {
  float: right;
  font-size: 1.2em;
  padding: 1em 0.6em 1em 0.6em;
}

header a.btn:hover {
  background-color: #1C2260;
}

header a#HamBrgBtn {
  display: none;
}

header a#Logo {
  float: left;
  font-size: 1.4em;
  padding: 1em 0 1em 0;
}

#HamBrgMenu {
  background-color: mediumaquamarine;
  display: none;
  height: 100%;
  left: 20%;
  position: fixed;
  width: 80%;
}

@media screen and (max-width: 767px) {
  header a {
    display: none;
  }
  header a#HamBrgBtn {
    display: block;
  }
  header a#Logo {
    display: block;
  }
  header .content {
    padding: 0 2em;
  }
}

html {
  height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #DFE3E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  position: relative;
  min-width: 360px;
}

code {
  background-color: #DFE3E8;
  border-radius: .1em;
  color: #454F5B;
  padding: 0 .2em;
}

textarea {
  border-color: #B3B5CB;
  border-radius: .3em;
  color: #919EAB;
  padding: .6em;
  width: 100%;
}

textarea, pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

#AsciiTable {
  border-collapse: collapse;
}

#AsciiTable td:last-child {
  min-width: 12em;
}

#AsciiTable td:first-child {
  min-width: 12em;
  padding-left: .2em;
}

#AsciiTable th {
  min-width: 6em;
}

#AsciiTable tr:hover {
  background-color: #F4F6F8;
}

#wrapper {
  padding: 2em 0;
}

#wrapper .content {
  background-color: #FFFFFF;
  padding: 1em 4em 3em 4em;
}

@media screen and (max-width: 1199px) {
  #wrapper .content {
    padding: 1em 4em;
  }
}

@media screen and (max-width: 991px) {
  #wrapper .content {
    padding: 1em 3em;
  }
}

@media screen and (max-width: 767px) {
  #wrapper {
    padding: 0;
  }
  #wrapper .content {
    padding: .8em 2em 2em;
  }
}

footer {
  background-color: #212B36;
  color: white;
  font-size: 1em;
}

@media screen and (max-width: 767px) {
  footer .content {
    padding-left: 2em;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .col-2 {
    width: 8.33333%;
  }
  .col-3 {
    width: 16.66667%;
  }
  .col-6 {
    width: 66.66667%;
  }
  .col-8 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 991px) {
  .col-3 {
    width: 8.33333%;
  }
  .col-6 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col-2, .col-3 {
    display: none;
  }
  .col-6, .col-8 {
    width: 100%;
  }
}

/*
|==========================================|
|                                          |
|     -- REALM OF POSSIBLE FUCKUPS --      |
|          !!! DO NOT TOUCH !!!            |
|                                          |
|==========================================|

            uuuuuuuuuuuuuuuuuuuu
          u" uuuuuuuuuuuuuuuuuu "u
        u" u$$$$$$$$$$$$$$$$$$$$u "u
      u" u$$$$$$$$$$$$$$$$$$$$$$$$u "u
    u" u$$$$$$$$$$$$$$$$$$$$$$$$$$$$u "u
  u" u$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$u "u
u" u$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$u "u
$ $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ $
$ $$$" ... "$...  ...$" ... "$$$  ... "$$$ $
$ $$$u `"$$$$$$$  $$$  $$$$$  $$  $$$  $$$ $
$ $$$$$$uu "$$$$  $$$  $$$$$  $$  """ u$$$ $
$ $$$""$$$  $$$$  $$$u "$$$" u$$  $$$$$$$$ $
$ $$$$....,$$$$$..$$$$$....,$$$$..$$$$$$$$ $
"u "$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$" u"
  "u "$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$" u"
    "u "$$$$$$$$$$$$$$$$$$$$$$$$$$$$" u"
      "u "$$$$$$$$$$$$$$$$$$$$$$$$" u"
        "u "$$$$$$$$$$$$$$$$$$$$" u"
          "u """""""""""""""""" u"
            """"""""""""""""""""

*/
a {
  text-decoration: none;
}

body {
  color: #212B36;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

code {
  font-size: 1.2em;
}

h1 {
  font-size: 2.6em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

h1:not(:first-child) {
  margin-top: 2em;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
}

li, dt, dd {
  font-size: 1.1em;
  line-height: 1.4;
}

li.meta, dt.meta, dd.meta {
  color: #637381;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.5;
}

p.meta {
  color: #637381;
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 0;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 10vw;
  }
  p {
    font-size: 1.2em;
    line-height: 1.2;
  }
}

pre {
  background-color: #DFE3E8;
  border-radius: .6em;
  display: block;
  line-height: 1.4;
  padding: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 767px) {
  pre {
    border-radius: 0;
    font-size: .6em;
  }
}

hr {
  border-color: #F9FAFB;
  color: #F9FAFB;
  display: inline-block;
  width: 100%;
}

ul, ol, dl {
  max-width: 30em;
}

ul.noIndent, ol.noIndent, dl.noIndent {
  padding-left: 0;
}

ul.smallIndent, ol.smallIndent, dl.smallIndent {
  padding-left: 1.1em;
}

ul.noStyle, ol.noStyle, dl.noStyle {
  list-style: none;
}

.ColorPaletteWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.6rem;
}

.ColorPalette {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex: 1 1 14rem;
      flex: 1 1 14rem;
  padding-top: 2rem;
  padding-left: 1.6rem;
}

.ColorPaletteShade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #F9FAFB;
}

.ColorPaletteShade:first-child {
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
}

.ColorPaletteShade:last-child {
  border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.ColorPaletteShade.hasDarkText {
  color: #212B36;
}

.ColorPaletteShade.isExpanded {
  height: 4rem;
}

.ColorPaletteLabel, .ColorPaletteValue {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.ColorPaletteValue {
  text-align: right;
  white-space: nowrap;
}

#CSS-Selectors {
  background: #C4CDD5;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

#CSS-Selectors th {
  border-bottom: 2pt solid black;
  font-weight: 500;
  text-transform: uppercase;
}

#CSS-Selectors td {
  vertical-align: top;
}

#CSS-Selectors td:first-child {
  font-size: 10pt;
  text-transform: uppercase;
}

/* TESTING PROPERTIES */
.debug, .debug * {
  background-color: rgba(0, 0, 255, 0.04);
  border: 1px solid #d42cbe;
  min-height: 40px;
}

.hasBorder {
  border: 1px solid #d42cbe;
}
/*# sourceMappingURL=style.css.map */