<header>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8 content">
			<nav>
				<span id="Logo"><a href="http://localhost:5500/index.html">LearnSite</a></span>
				<ul class="nav-links">
					<li><a href="http://localhost:5500/index.html">Home</a></li>
					<li><a href="http://localhost:5500/layout.html">Layout</a></li>
					<li id="nav-link-js"><a href="http://localhost:5500/javascript.html">JavaScript</a>
						<ul class="nav-sub-menu">
							<li><a href="http://localhost:5500/apps/html-encoder.html">HTML Encoder</a></li>
						</ul>
					</li>
					<li><a href="http://localhost:5500/api.html">API Guide</a></li>
					<button id="HamBrgBtn" onclick="ShowHamburgerMenu()">=</button>
				</ul>
			</nav>
		</div>
		<div class="col-2"></div>
	</div>
</header>
<div id="HamBrgMenu">
	<ul class="noStyle noIndent">
		<li><a href="http://localhost:5500/index.html">Home</a></li>
		<li><a href="http://localhost:5500/layout.html">Layout</a></li>
		<li><a href="http://localhost:5500/javascript.html">JavaScript</a>
			<ul class="noStyle smallIndent">
				<li><a href="http://localhost:5500/apps/html-encoder.html">HTML Encoder</a></li>
			</ul>
		</li>
		<li><a href="http://localhost:5500/api.html">API Guide</a></li>
	</ul>
</div>