// _base.scss

$height: (
	'Hero-height':	60vh
);
$margin: (
	'content': (
		'top':		2rem,
		'right':	0rem,
		'bottom':	0rem,
		'left':		0rem
	)
);
$padding: (
	'content': (
		'top':		1rem,
		'right':	4rem,
		'bottom':	3rem,
		'left':		4rem
	),
	'wrapper': (
		'top':		0rem,
		'right':	0rem,
		'bottom':	2rem,
		'left':		0rem
	)
);

html {
	height: 100%;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}
* {box-sizing: border-box;}

body {
	background-color: Color('sky');
	display: flex;
	flex-direction: column;
	margin: 0;
	position: relative;
	min-width: 360px;
}
code, .codeBlock {
	background-color: Color('sky');
	color: Color('ink', 'light');
	font-family: monospace;
}
code {
	border-radius: .2em;
	padding: 0 .4em;
}
.codeBlock {
	border-radius: .4rem;
	line-height: 1.2rem;
	padding: 1.2rem;
	width: fit-content;
}
p {
	max-width: 50rem;
}
textarea {
	border-color: Color('main', 'light');
	border-radius: .3rem;
	border-style: solid;
	color: Color('ink', 'lightest');
	padding: .6rem;
	width: 100%;
	max-width: 40rem;
	&:focus {
		border-color: Color('blue');
	}
}
// Sets TAB width
textarea, pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

.heroTitle {
	font-size: 4rem;
	padding: 10vh 0 10vh 0;
	text-align: center;
}
.noTopMargin {
	margin-top: 0 !important;
}

#AsciiTable {
	border-collapse: collapse;
	td:last-child {
		min-width: 12rem;
	}
	td:first-child {
		min-width: 12rem;
		padding-left: .2rem;
	}
	th {
		min-width: 6rem;
	}
	tr:hover {
		background-color: Color('sky', 'light');
	}
}
#wrapper {
	padding: Array($padding, 'wrapper', 'top') Array($padding, 'wrapper', 'right') Array($padding, 'wrapper', 'bottom') Array($padding, 'wrapper', 'left');
	.content {
		background-color: Color('white');
		border-radius: .4rem;
		margin: Array($margin, 'content', 'top') Array($margin, 'content', 'right') Array($margin, 'content', 'bottom') Array($margin, 'content', 'left');
		padding: Array($padding, 'content', 'top') Array($padding, 'content', 'right') Array($padding, 'content', 'bottom') Array($padding, 'content', 'left');
	}
}
#Hero-home {
	background-color: Color('ink');
	color: Color('white');
	img {
		width: 100%;
	}
}
#submitHtmlBtn {
	background-color: inherit;
	border-color: Color('main', 'light');
	border-radius: .3rem;
	border-style: solid;
	color: Color('ink');
	cursor: pointer;
	padding: .2rem .6rem;
	&:hover {
		background-color: Color('sky', 'light');
	}
}

@include ViewPort('md') {
	#wrapper {
		.content {
			padding: 1rem 4rem;
		}
	}
}
@include ViewPort('sm') {
	#wrapper {
		.content {
			padding: 1rem 3rem;
		}
	}
}
@include ViewPort('xs') {
	.heroTitle {
		font-size: 3rem;
	}
	#wrapper {
		padding: 0;
		.content {
			border-radius: 0;
			margin-top: 0;
			padding: 0rem 2rem 2rem;
		}
	}
}